#logo{
    width: 120px;
}
.carousel-indicators [data-bs-target]{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: #b9a16b;
}
.color{
    background-color: #b9a16b;
}
.index{
    z-index: 999;
}
#item{
    height: 90vh;
}
.itemLine{
    background-position: center center;
    background-size: cover;
}
a{
    text-decoration: none;
}
.colorBanner{
    color: #443b24;
}
.colorBanner:hover{
    color: #13110e;
}
h1{
    font-size: 60px;
}